<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4>Appointments</h4>
        </div>
        <div class="card-body ">
          <div class="content">
            <div class="row">
              <div class="col-md-12"></div>
              <!--             <div class="col-md-12 header" style="padding:30px;">
                <input type="text" name="" class="video-search" placeholder="Search a video">       
              </div> -->
              <span class="text-center">Select a time slot to book an appointment</span>
            </div>
            <div class="row">
              <div class="col-md-2">
                <strong>Morning</strong>
              </div>
              <div class="col-md-10">
                <a class="btn">9:00am</a>
                <a class="btn booked">9:15am</a>
                <a class="btn">9:30am</a>
                <a class="btn">9:45am</a>
                <a class="btn">10:00am</a>     
                <a class="btn">10:15am</a>
                <a class="btn">10:30am</a>
                <a class="btn">10:45am</a>
                <a class="btn">11:00am</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                
              </div>
              <div class="col-md-10">
                <a class="btn">11:15am</a>
                <a class="btn">11:30am</a>
                <a class="btn">11:45am</a>
                <a class="btn">12:00pm</a>
                <a class="btn">12:15pm</a>     
                <a class="btn">12:30pm</a>
                <a class="btn available">12:45pm</a>
                <a class="btn">1:00pm</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2">
                <strong>Evening</strong>
              </div>
              <div class="col-md-10">
                <a class="btn available">5:00pm</a>
                <a class="btn ">5:15pm</a>
                <a class="btn">5:30pm</a>
                <a class="btn booked">5:45pm</a>
                <a class="btn">6:00pm</a>     
                <a class="btn available">6:15pm</a>
                <a class="btn">6:30pm</a>
                <a class="btn">6:45pm</a>
                <a class="btn">6:00pm</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-10">
                <a class="btn">6:15pm</a>
                <a class="btn ">6:30pm</a>
                <a class="btn available">6:45pm</a>
                <a class="btn">7:00pm</a>
                <a class="btn">7:15pm</a>     
                <a class="btn available">7:30pm</a>
                <a class="btn">7:45pm</a>
                <a class="btn">8:00pm</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-10">
                <button class="btn-primary">Book</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 10px;
    margin: 11px 11px;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: #2ca8ff;
  }
  
  
  .text-center{
    margin-left: 16px;
    margin-bottom: 18px;
  }
  
  .h4{
    margin-top: 10px;
  }
  
  .btn-primary{
    background-color: #2ca8ff;
    padding: 10px 10px;
    margin: 11px 11px;
    border-radius: 5px;
    border: 1px solid #2ca8ff;
    width: 154px;
    padding: 8px 10px;
    
  }
  
  .float-right{
    float: right;
  }
  
  .booked{
    background-color: rgb(180, 78, 78);
    color: #fff !important;
  }

  .available{
    background-color: #20c997;
    color: #fff !important;
  }
</style>
